
table, th, td {
border-bottom: 1px solid #4dbfd9;
}

table{
 table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
 height: 100%;
}
th, td{
height: 10px;
}
th{
width: 30%;
padding: 2px;
text-align: center;
border-right: 1px solid #4dbfd9;
}
td {
  maxHeight: 30%;
  text-align: center;
}